@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700|Roboto:300,700')

smFont(x)
    font-family 'Roboto', sans-serif
    font-weight x == 2 ? 700 : 300

lgFont(x)
    font-family 'Raleway', sans-serif
    font-weight x == 1 ? 200 : (((x == 2 ? 400 : 700)))