.sc-radialDarkBlue
    background rgb(20, 60, 79)
    background radial-gradient(circle, rgba(20, 60, 79, 1) 31%, rgba(36, 62, 74, 1) 61%, rgba(6, 27, 37, 1) 100%)

.sc-linearDarkToBlue
    background rgb(69, 72, 77)
    background linear-gradient(45deg, rgba(69, 72, 77, 1) 15%, rgba(69, 72, 77, 1) 32%, rgba(25, 40, 73, 1) 100%)

.sc-deepSpace
    background #000000
    background linear-gradient(to right, #000000, #434343)

.sc-midnightCity
    background #232526
    background linear-gradient(to top, #414345, #232526)
