.material-1
    box-shadow 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
    transition all .3s cubic-bezier(.25, .8, .25, 1)

.material-1:hover
    box-shadow 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22)

.material-2
    box-shadow 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)

.material-3
    box-shadow 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23)

.material-4
    box-shadow 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22)

.material-5
    box-shadow 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22)

.shadow-1
    box-shadow 0 10px 6px -6px #777

.shadow-2
    position relative

.shadow-2:before, .shadow-2:after
    z-index -1
    position absolute
    content ''
    bottom 15px
    left 10px
    width 50%
    top 80%
    max-width 300px
    background #777
    box-shadow 0 15px 10px #777
    transform rotate(-3deg)

.shadow-2:after
    transform rotate(3deg)
    right 10px
    left auto

.shadow-3
    position relative

.shadow-3:before
    z-index -1
    position absolute
    content ''
    bottom 15px
    left 10px
    width 50%
    top 80%
    max-width 300px
    background #777
    box-shadow 0 15px 10px #777
    transform rotate(-3deg)

.shadow-4
    position relative

.shadow-4:after
    z-index -1
    position absolute
    content ''
    bottom 15px
    right 10px
    left auto
    width 50%
    top 80%
    max-width 300px
    background #777
    box-shadow 0 15px 10px #777
    transform rotate(3deg)

.shadow-5
    position relative

.shadow-5:before, .shadow-5:after
    z-index -1
    position absolute
    content ''
    bottom 25px
    left 10px
    width 50%
    top 80%
    max-width 300px
    background #777
    box-shadow 0 35px 20px #777
    transform rotate(-8deg)

.shadow-5:after
    transform rotate(8deg)
    right 10px
    left auto

.shadow-6
    position relative
    box-shadow 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .1) inset

.shadow-6:before, .shadow-6:after
    content ''
    position absolute
    z-index -1
    box-shadow 0 0 20px rgba(0, 0, 0, .8)
    top 50%
    bottom 0
    left 10px
    right 10px
    border-radius 100px / 10px

.shadow-6:after
    right 10px
    left auto
    transform skew(8deg) rotate(3deg)

.shadow-7
    position relative
    box-shadow 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .1) inset

.shadow-7:before, .shadow-7:after
    content ''
    position absolute
    z-index -1
    box-shadow 0 0 20px rgba(0, 0, 0, .8)
    top 0
    bottom 0
    left 10px
    right 10px
    border-radius 100px / 10px

.shadow-7:after
    right 10px
    left auto
    transform skew(8deg) rotate(3deg)

.shadow-8
    position relative
    box-shadow 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .1) inset

.shadow-8:before, .shadow-8:after
    content ''
    position absolute
    z-index -1
    box-shadow 0 0 20px rgba(0, 0, 0, .8)
    top 10px
    bottom 10px
    left 0
    right 0
    border-radius 100px / 10px

.shadow-8:after
    right 10px
    left auto
    transform skew(8deg) rotate(3deg)